## Error of the week - week 3
author: tthejll

date: "2024-04-24"

This week we are looking at types, comparisons, and process of finding things out!

Let's explore the `max` function

In [1]:
a_list = [1,2,3,4,5]

print(max(a_list))

5

It works! It gets five - let's see what happens if we have a `str` in the list.

In [2]:
b_list = [1,2,3,"4",5]

print(max(b_list))

TypeError: '>' not supported between instances of 'str' and 'int'

Oh oh! An error - let's break down how we read it:

It tells us what type of error it is and it tells us line of code (i.e. `TypeError` and `3 print(max(b_list))`.  And then it has an extra message telling us exactly what went wrong.

`TypeError:` '`>`' not supported between instances of '`str`' and '`int`'

Let's learn a bit more about the max function

In [3]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

Let's see online https://docs.python.org/3/library/functions.html#max

It doesn't actually specify a type and if we read the error a bit more closely, it tells us that the error is actually with the `>` operator

In [4]:
"1" > 1

TypeError: '>' not supported between instances of 'str' and 'int'

That's the same error - so clearly, the `max` function relies on `>` to make comparisons

But it says it doesn't work _between_ `str` and `int`, so it works on `str`?

In [5]:
"a" < "b"

True

It does - I think it does alphabetical order

In [6]:
"b" < "a"

False

So that means we can use `max` on a list of strings!

In [7]:
c_list = ["one","two","three","four","five"]

print(max(c_list))

two