let's look at some pivoting errors!

Let's say I have data:

In [1]:
import pandas as pd

data = pd.read_csv("./data_long.csv")

In [2]:
data.head(20)

    id  age sex Question  Answer
0    1   31   M      Q_1       1
1    1   31   M      Q_2      12
2    1   31   M      Q_3       1
3    1   31   M      Q_4       9
4    1   31   M      Q_5      12
5    2   45   M      Q_1       4
6    2   45   M      Q_2       7
7    2   45   M      Q_3       5
8    2   45   M      Q_4       9
9    2   45   M      Q_5      12
10   3   65   M      Q_1       2
11   3   65   M      Q_2       1
12   3   65   M      Q_3       3
13   3   65   M      Q_4       8
14   3   65   M      Q_5      11
15   4   63   F      Q_1       9
16   4   63   F      Q_2       1
17   4   63   F      Q_3       4
18   4   63   F      Q_4       5
19   4   63   F      Q_5       8

In [3]:
print(data.describe())

               id         age      Answer
count  100.000000  100.000000  100.000000
mean    10.500000   47.200000    6.130000
std      5.795331   14.219065    3.656059
min      1.000000   20.000000    1.000000
25%      5.750000   35.750000    3.000000
50%     10.500000   47.000000    5.500000
75%     15.250000   55.250000    9.000000
max     20.000000   77.000000   15.000000

In [4]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        100 non-null    int64
 1   age       100 non-null    int64
 2   sex       100 non-null    object
 3   Question  100 non-null    object
 4   Answer    100 non-null    int64
dtypes: int64(3), object(2)
memory usage: 4.0+ KB
None

Let's just make sure everything is as expected - so let's create some categories

In [5]:
data.id = data.id.astype('category')
data.sex = data.sex.astype('category')

Check again

In [6]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        100 non-null    category
 1   age       100 non-null    int64
 2   sex       100 non-null    category
 3   Question  100 non-null    object
 4   Answer    100 non-null    int64
dtypes: category(2), int64(2), object(1)
memory usage: 3.5+ KB
None

In [7]:
data.id

0      1
1      1
2      1
3      1
4      1
      ..
95    20
96    20
97    20
98    20
99    20
Name: id, Length: 100, dtype: category
Categories (20, int64): [1, 2, 3, 4, ..., 17, 18, 19, 20]

Now let's pivot wider

In [8]:
data_wide = data.pivot(index = ["id", "age", "sex"], columns = "Question", values = "Answer")

Let's see if it worked!

In [9]:
print(data_wide)

Question    Q_1  Q_2  Q_3  Q_4  Q_5
id age sex
1  31  M      1   12    1    9   12
2  45  M      4    7    5    9   12
3  65  M      2    1    3    8   11
4  63  F      9    1    4    5    8
5  36  F      8   10    4    5    6
6  36  F      6    3    2    7    9
7  69  F      5    9    5    7    3
8  62  F      1    4    1   11    5
9  47  F      9   13    2    2    1
10 39  M     10    8    3    7    6
11 34  F     10   10    5   12   11
12 50  M      4   15    2    3   10
13 50  M      8    1    2    6   11
14 47  M      8    9    4    1   11
15 35  M      4    9    2    1    5
16 53  M      2    1    3    4   10
17 20  M      9   14    7    5    5
18 35  F     10    8    3   10    6
19 77  M      9    7    4    3    1
20 50  F     12    3    3    9    5

In [10]:
data_wide.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 20 entries, (1, 31, 'M') to (20, 50, 'F')
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Q_1     20 non-null     int64
 1   Q_2     20 non-null     int64
 2   Q_3     20 non-null     int64
 3   Q_4     20 non-null     int64
 4   Q_5     20 non-null     int64
dtypes: int64(5)
memory usage: 2.5 KB

In [11]:
data_wide.id

AttributeError: 'DataFrame' object has no attribute 'id'

Wait, is that not right?

In [12]:
data_wide.Q_1

id  age  sex
1   31   M       1
2   45   M       4
3   65   M       2
4   63   F       9
5   36   F       8
6   36   F       6
7   69   F       5
8   62   F       1
9   47   F       9
10  39   M      10
11  34   F      10
12  50   M       4
13  50   M       8
14  47   M       8
15  35   M       4
16  53   M       2
17  20   M       9
18  35   F      10
19  77   M       9
20  50   F      12
Name: Q_1, dtype: int64

Okay, but I really want to be able to look at id, which clearly doesn't exists anymore.. It lives in the index... so what can I do.

Let's try the `pd.DataFrame.reset_index`

In [13]:
help(pd.DataFrame.reset_index)

Help on function reset_index in module pandas.core.frame:

reset_index(self, level: 'IndexLabel' = None, *, drop: 'bool' = False, inplace: 'bool' = False, col_level: 'Hashable' = 0, col_fill: 'Hashable' = '', allow_duplicates: 'bool | lib.NoDefault' = <no_default>, names: 'Hashable | Sequence[Hashable]' = None) -> 'DataFrame | None'
    Reset the index, or a level of it.

    Reset the index of the DataFrame, and use the default one instead.
    If the DataFrame has a MultiIndex, this method can remove one or more
    levels.

    Parameters
    ----------
    level : int, str, tuple, or list, default None
        Only remove the given levels from the index. Removes all levels by
        default.
    drop : bool, default False
        Do not try to insert index into dataframe columns. This resets
        the index to the default integer index.
    inplace : bool, default False
        Whether to modify the DataFrame rather than creating a new one.
    col_level : int or str, default 0
        If the columns have multiple levels, determines which level the
        labels are inserted into. By default it is inserted into the first
        level.
    col_fill : object, default ''
        If the columns have multiple levels, determines how the other
        levels are named. If None then the index name is repeated.
    allow_duplicates : bool, optional, default lib.no_default
        Allow duplicate column labels to be created.

        .. versionadded:: 1.5.0

    names : int, str or 1-dimensional list, default None
        Using the given string, rename the DataFrame column which contains the
        index data. If the DataFrame has a MultiIndex, this has to be a list or
        tuple with length equal to the number of levels.

        .. versionadded:: 1.5.0

    Returns
    -------
    DataFrame or None
        DataFrame with the new index or None if ``inplace=True``.

    See Also
    --------
    DataFrame.set_index : Opposite of reset_index.
    DataFrame.reindex : Change to new indices or expand indices.
    DataFrame.reindex_like : Change to same indices as other DataFrame.

    Examples
    --------
    >>> df = pd.DataFrame([('bird', 389.0),
    ...                    ('bird', 24.0),
    ...                    ('mammal', 80.5),
    ...                    ('mammal', np.nan)],
    ...                   index=['falcon', 'parrot', 'lion', 'monkey'],
    ...                   columns=('class', 'max_speed'))
    >>> df
             class  max_speed
    falcon    bird      389.0
    parrot    bird       24.0
    lion    mammal       80.5
    monkey  mammal        NaN

    When we reset the index, the old index is added as a column, and a
    new sequential index is used:

    >>> df.reset_index()
        index   class  max_speed
    0  falcon    bird      389.0
    1  parrot    bird       24.0
    2    lion  mammal       80.5
    3  monkey  mammal        NaN

    We can use the `drop` parameter to avoid the old index being added as
    a column:

    >>> df.reset_index(drop=True)
        class  max_speed
    0    bird      389.0
    1    bird       24.0
    2  mammal       80.5
    3  mammal        NaN

    You can also use `reset_index` with `MultiIndex`.

    >>> index = pd.MultiIndex.from_tuples([('bird', 'falcon'),
    ...                                    ('bird', 'parrot'),
    ...                                    ('mammal', 'lion'),
    ...                                    ('mammal', 'monkey')],
    ...                                   names=['class', 'name'])
    >>> columns = pd.MultiIndex.from_tuples([('speed', 'max'),
    ...                                      ('species', 'type')])
    >>> df = pd.DataFrame([(389.0, 'fly'),
    ...                    ( 24.0, 'fly'),
    ...                    ( 80.5, 'run'),
    ...                    (np.nan, 'jump')],
    ...                   index=index,
    ...                   columns=columns)
    >>> df
                   speed species
                     max    type
    class  name
    bird   falcon  389.0     fly
           parrot   24.0     fly
    mammal lion     80.5     run
           monkey    NaN    jump

    Using the `names` parameter, choose a name for the index column:

    >>> df.reset_index(names=['classes', 'names'])
      classes   names  speed species
                         max    type
    0    bird  falcon  389.0     fly
    1    bird  parrot   24.0     fly
    2  mammal    lion   80.5     run
    3  mammal  monkey    NaN    jump

    If the index has multiple levels, we can reset a subset of them:

    >>> df.reset_index(level='class')
             class  speed species
                      max    type
    name
    falcon    bird  389.0     fly
    parrot    bird   24.0     fly
    lion    mammal   80.5     run
    monkey  mammal    NaN    jump

    If we are not dropping the index, by default, it is placed in the top
    level. We can place it in another level:

    >>> df.reset_index(level='class', col_level=1)
                    speed species
             class    max    type
    name
    falcon    bird  389.0     fly
    parrot    bird   24.0     fly
    lion    mammal   80.5     run
    monkey  mammal    NaN    jump

    When the index is inserted under another level, we can specify under
    which one with the parameter `col_fill`:

    >>> df.reset_index(level='class', col_level=1, col_fill='species')
                  species  speed species
                    class    max    type
    name
    falcon           bird  389.0     fly
    parrot           bird   24.0     fly
    lion           mammal   80.5     run
    monkey         mammal    NaN    jump

    If we specify a nonexistent level for `col_fill`, it is created:

    >>> df.reset_index(level='class', col_level=1, col_fill='genus')
                    genus  speed species
                    class    max    type
    name
    falcon           bird  389.0     fly
    parrot           bird   24.0     fly
    lion           mammal   80.5     run
    monkey         mammal    NaN    jump

In [14]:
data_wide = data_wide.reset_index()

print(data_wide)

Question  id  age sex  Q_1  Q_2  Q_3  Q_4  Q_5
0          1   31   M    1   12    1    9   12
1          2   45   M    4    7    5    9   12
2          3   65   M    2    1    3    8   11
3          4   63   F    9    1    4    5    8
4          5   36   F    8   10    4    5    6
5          6   36   F    6    3    2    7    9
6          7   69   F    5    9    5    7    3
7          8   62   F    1    4    1   11    5
8          9   47   F    9   13    2    2    1
9         10   39   M   10    8    3    7    6
10        11   34   F   10   10    5   12   11
11        12   50   M    4   15    2    3   10
12        13   50   M    8    1    2    6   11
13        14   47   M    8    9    4    1   11
14        15   35   M    4    9    2    1    5
15        16   53   M    2    1    3    4   10
16        17   20   M    9   14    7    5    5
17        18   35   F   10    8    3   10    6
18        19   77   M    9    7    4    3    1
19        20   50   F   12    3    3    9    5

Looks good! let's check the info

In [15]:
data_wide.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      20 non-null     category
 1   age     20 non-null     int64
 2   sex     20 non-null     category
 3   Q_1     20 non-null     int64
 4   Q_2     20 non-null     int64
 5   Q_3     20 non-null     int64
 6   Q_4     20 non-null     int64
 7   Q_5     20 non-null     int64
dtypes: category(2), int64(6)
memory usage: 1.9 KB

Let's see that we can get id

In [16]:
data_wide.id

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
Name: id, dtype: category
Categories (20, int64): [1, 2, 3, 4, ..., 17, 18, 19, 20]